body {
    background-color: white;
    color: #00203FFF;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #00203FFF;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#00203FFF,rgb(12, 92, 172));
    border-radius: 20%;
}
*{
    scroll-behavior: smooth;
}
.carousel .slide{
    background-color: #00203FFF;
}
.carousel li img{
    height: 500px;
}
@media screen and (max-Width:600px) {
    .carousel li img{
        height: 350px;
    }
}
.carousel .control-dots{
    margin:60px auto;
    font-size: 40px;
    font-weight: bolder;
}
.thumbs-wrapper{
    display: none;
}